.googleIcon {
    // height: 30px;
    height: 2vh;
    width: auto;
}

.background {
    background-color: #023047;
}

.card {
    background-color: #ffb703;
}

// ::ng-deep .mat-focused .mat-form-field-label {
//     color: #023047 !important;
// }
// ::ng-deep .mat-form-field-underline {
//     background-color: #023047 !important;
// }
// ::ng-deep .mat-form-field-ripple {
//     background-color: #023047 !important;
// }
