<mat-toolbar color="accent">
    <mat-icon style="margin-right: 0.3%;">calendar_today</mat-icon>
    <span>WFH Calendar</span>
    <span class="spacer"></span>
    
    <span style="margin-right: 1%;">{{user.displayName | titlecase}}</span>
    <fa-icon [icon]="iconList.get('office')"></fa-icon>
    <div style="margin-left: 0.1%; margin-right: 0.7%">12</div>
    <fa-icon [icon]="iconList.get('home')"></fa-icon>
    <div style="margin-left: 0.1%; margin-right: 0.7%">10</div>
    <a style="margin-right: 0.7%; cursor: pointer;" title="Sign Out" (click)="logOut()">
        <fa-icon [icon]="iconList.get('logout')"></fa-icon>
    </a>
</mat-toolbar>