<div fxLayout="row" fxLayoutAlign="center center" style="height: 100vh;" class="background">
    <mat-card style="width: 14%;" class="card">
        <mat-card-title fxLayout="row" fxLayoutAlign="center center">Reset Password</mat-card-title>
        <mat-card-content fxLayout="column" fxLayoutAlign="space-around center">
            <p>Please enter your email address to request a password request.</p>
            <form (ngSubmit)="onSubmit()" [formGroup]="resetForm">
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput #input required type="email" formControlName="email" placeholder="example@email.com">
                    <mat-error *ngIf="resetForm.controls['email'].invalid">{{getEmailErrorMessage()}}</mat-error>
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-footer fxLayout="row" fxLayoutAlign="center center" style="margin-bottom: 1%;">
            <button mat-raised-button color="accent" type="submit" (click)="onSubmit()">Reset Password</button>
            <button mat-raised-button color="accent" (click)="redirectToLogin()" style="margin-left: 2%;">Go back to login</button>
        </mat-card-footer>
    </mat-card>
</div>