<mat-card style="height: 88%; margin: 2% 2% 2% 2%;background-color: #8ECAE6;">
    <mat-card-header style="height: fit-content; margin-top: 2%;">
        <mat-card-title style="font-size: 300%;">
            <fa-icon [icon]="passwordIcon" class="fa-xl"></fa-icon>
            Change Password
        </mat-card-title>
    </mat-card-header>
    <mat-card-content style="height: 83%;margin-top: 5%;">
        <form fxLayout="column" (ngSubmit)="onSubmit()" [formGroup]="changePwdForm" style="height: 100%;">
            <div>
                <div style="height: 100%;width: 15%; float: left;" fxLayout="column" fxLayoutAlign="center end">
                    <h1 style="margin-bottom: 0;">Old Password: </h1>
                </div>
                <div style="width: 30%; float: left; margin-left: 1%;">
                    <mat-form-field>
                        <mat-label>Old Password</mat-label>
                        <input #input1 formControlName="oldPwd" matInput type="password" required>
                        <mat-hint align="end">{{input1.value.length || 0}}/6</mat-hint>
                        <mat-error *ngIf="changePwdForm.controls['oldPwd'].invalid">
                            {{getPasswordErrorMessage('oldPwd')}}</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div>
                <div style="height: 100%;width: 15%; float: left;" fxLayout="column" fxLayoutAlign="center end">
                    <h1 style="margin-bottom: 0;">New Password: </h1>
                </div>
                <div style="width: 30%; float: left; margin-left: 1%;">
                    <mat-form-field>
                        <mat-label>New Password</mat-label>
                        <input #input2 formControlName="newPwd" matInput type="password" required>
                        <mat-hint align="end">{{input2.value.length || 0}}/6</mat-hint>
                        <mat-error *ngIf="changePwdForm.controls['newPwd'].invalid">
                            {{getPasswordErrorMessage('newPwd')}}</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div>
                <div style="height: 100%;width: 15%; float: left;" fxLayout="column" fxLayoutAlign="center end">
                    <h1 style="margin-bottom: 0;">Confirm Password: </h1>
                </div>
                <div style="width: 30%; float: left; margin-left: 1%;">
                    <mat-form-field>
                        <mat-label>Confirm Password</mat-label>
                        <input #input3 formControlName="confirmPwd" matInput type="password" required>
                        <mat-hint align="end">{{input3.value.length || 0}}/6</mat-hint>
                        <mat-error *ngIf="changePwdForm.controls['confirmPwd'].invalid">
                            {{getPasswordErrorMessage('confirmPwd')}}</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <button mat-raised-button color="accent" type="submit" (click)="onSubmit()" style="width: fit-content; margin-left: 10%">Change Password</button>
        </form>
    </mat-card-content>
</mat-card>