.in-line {
    float: left;
}

.content-color {
    color: #8ecae6;
}

.grayed-out-color {
    color: rgba(0, 0, 0, 0.6);
}

.last-month-color {
    background-color: rgba(255, 255, 255, 0.288);
}

.card {
    background-color: #f0ead280;
}
